@font-face { font-family: yakuza; src: url('fonts/edosz.ttf'); } 
@font-face { font-family: merryweather; src: url('fonts/merryweather.ttf'); } 

h1
{
    font-family: yakuza;
    font-size: 72px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: azure;
}
.center
{
    text-align: center;
}
h2, title
{
    font-family: yakuza;
    font-size: 64px;
    margin-top: 0%;
    margin-bottom: 1%;

    color: #f0ffff;
}

html, body 
{
    margin: 0;
    width: auto; 
    overflow-x: hidden; 
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position-x: center;
}

#menu
{
    display: inline;
    position:fixed;
    left: 23%;
}
button
{
    background: none;
    border: none;
    cursor: pointer;
}
.menub
{
    font-family: yakuza;
    font-size: 144px;
    display: inline;
    color: azure;
    margin: 100px;
}
a
{
    text-decoration: none;
}
#lore, #game, #game_over
{
    display: none;
}
.back, #result
{
    position: relative;
    margin-top: 0%;
    left: 10%;
    font-size: 64px;
    margin-bottom: 0%;
    text-align: center;
}
p.lore
{
    position: relative;
    left: 25%;
    font-family: merryweather;
    width: 50%;
    text-align: justify;
    color: azure;
    font-size: 32px;
}
table
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
td
{
    text-align: center;

    /*padding-top: 5%;*/
}
img
{
    width: 100%;
}
table.picks
{
    width: 75%;
}
td.picks
{
    position: relative;
    font-family: yakuza;
    color: azure;
    font-size: 40px;
    width: 25%;
    padding-top: 0%;
    text-align: center;
}
#result
{
    left: 0%;
}
.picki
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
}
.gameover
{
    font-size: 180px;
}
button.go
{
    left:25%
}
.winner
{
    display: none;
    margin-bottom: 5%;
}